
#calendars, #eventpickers, #namelist, #email-preview {
  clear: both;
}

.checkbox-label {
  position: relative;
  top: 3px;
}

.cycle {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.goog-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: transparent;
  background-image: linear-gradient(top,rgba(255, 255, 255, .85),rgba(247, 247, 247, .85));
  /* @alternate */ background-image: -moz-linear-gradient(top,rgba(255, 255, 255, .85),rgba(247, 247, 247, .85));
  /* @alternate */ background-image: -o-linear-gradient(top,rgba(255, 255, 255, .85),rgba(247, 247, 247, .85));
  /* @alternate */ background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, .85)),to(rgba(247, 247, 247, .85)));
  /* @alternate */ background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, .85),rgba(247, 247, 247, .85));
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  height: 29px;
  padding: 0 8px;
}

.goog-button:hover {
  border-color: #c6c6c6;
}
