#all-cycles {
  padding: 10px;
}

#calendars, #eventpickers, #namelist, #email-preview {
  clear: both;
}

.cycles {
  border-bottom: 1px solid #aaa;
  display: inline-block;
  margin: 15px;
  margin-left: 0;
  min-width: 278px;
}

.empty-cycle {
  font-style: italic;
}

.cycle {
  border: 1px solid #aaa;
  border-bottom: 0;
  padding: 10px;
  position: relative;
}

.cycle-creation-time {
  font-size: smaller;
}

.cycle-delete {
  background-image: url(../img/remove.png);
  background-size: 14px;
  height: 14px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 14px;
}

.cycle-delete:hover,
.cycle-delete:focus {
  opacity: 0.7;
}

#individual-cycle-container {
  margin: 15px;
}

.individual-title {
  border: 1px solid #aaa;
  display: inline-block;
  font-size: 32px;
  margin: 10px 10px 25px 0;
  padding: 10px;
}

.individual-title:hover {
  background-color: #f1f1f1;
}

.individual-title::-webkit-input-placeholder {
  font-style: italic;
}

#individual-back-button {
  margin-left: 15px;
}

