
.filter-base {
  border-top: 1px solid grey;
  margin: 20px 0;
  width: 600px;
}

.filter-textbox {
  color: grey;
  width: 500px;
}

.filter-textbox.filter-textbox-active {
  color: black;
}

.filter-section {
  border: 1px solid grey;
  border-top: none;
  padding: 10px;
}

.filter-title {
  font-size: 1.2em;
  padding-bottom: 4px;
}

.filter-box-row {
  border: 1px solid grey;
  padding: 2px 5px 7px 7px;
}

.filter-section-hidden {
  display: none;
}

.filter-button {
  margin: 0 10px 10px 0;
}
