
.userlist-table {
  border: 1px solid #aaa;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px;
  margin-left: 0;
  padding: 10px;
}

.userlist-table td,
.userlist-table th {
  border: 1px solid #aaa;
  max-width: 400px;
  padding: 5px 10px;
  word-wrap: break-word;
}

.userlist-two {
  background-color: antiquewhite;
}

.userlist-four {
  background-color: orange;
}

.userlist-lots {
  background-color: lightcoral;
}

