<html>
<head>
  <title>Calendar Mailer Dashboard</title>
  <script type="text/javascript" src="/scripts/dashboard.js"></script>
  <link type="text/css" rel="stylesheet" href="/scripts/app.css">
</head>
<body>

<div id="all-cycles">
  <div>
    Hello {{name}},
    <br>
    <br>
    Here is the dasboard for cleanup cycles. Please select a cycle below, or
    begin a new cycle by pressing the "new cycle" button.
    Please make sure you are not using multi-login to ensure the best
    experience.
  </div>
  <br>
  <div id="cycles">
    {% for cycle in cycles %}
      <div id="{{cycle.cycle_id}}" class="cycle">
        <span class="cycle-name">
          {% if cycle.name %}
            {{cycle.name}}
          {% else %}
            Untitled cycle
          {% endif %}
        </span>
        <span class="cycle-creation-time">
          ({{cycle.start_date}})
        </span>
      </div>
    {% endfor %}
  </div>

  <button id="new-cycle-button" class="primary-button">
    Begin New Calendar Cleanup Cycle
  </button>
</div>

<div id="individual-cycle-container"></div>
<p id="spinner" class="spinner" style="display:none;">Please wait.</p>
<button id="individual-back-button" class="action-button">Back</button>

</body>
