<html>
<head>
	<script type="text/javascript" src="/scripts/app.js"></script>
	<link type="text/css" rel="stylesheet" href="/scripts/app.css">
</head>
<body>

<div id="welcome">
	Welcome! I'm your friendly calendar bot and I'm here to guide
	you through the process of finding repeated events on your calendars. I'm
	still in alpha, so bear with me if things are a little slow or broken.
</div>
<div id="instruction">
	Select some calendars from the below box and lets begin.
</div>

<div id="filter"></div>
<strong>If you can't see any boxes please check that the authentication 
	request popup was not blocked by your browser.</strong>
<div id="calendars"></div>
<div id="eventpickers"></div>
<div id="namelist"></div>
<div id="email-preview"></div>

</body>
</html>