<html>
<head>
  <title>{{ app_name }}</title>
  <!--link type="text/css" rel="stylesheet" href="/stylesheets/common.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/select_calendars.css" /--!>
  <script type="text/javascript" src="/javascript/select_calendars.js"></script>

</head>
<body>

<center><h2>Select events to send emails about:</h2></center>

<form id="events" action="/email" method="POST">
  <label for="calendars" class="form_label">
    Recurring events in the time range you specified:
  </label>
  <br>
  <select name="events" id="events" multiple="true">
  <br>
  {% for event in events.items %}
    <option value="{{ event.0 }}">{{ event.1 }}</option>
  {% endfor %}

  </select>

  <br />
  <small>Use the 'Control' or 'Apple' Key to select multiple.</small>
  <br/>
  <button type="button" id="select_all_button">Select all</button>
  <button type="button" id="select_none_button">Select none</button>

  <br>
  <input type="submit" value="Go!" />
</form>

{% if logout_url %}
<div style="main">
<a href="{{ logout_url }}">Sign out</a>
</div>
{% endif %}

</body>
</html>
